<%= render "form.html", changeset: @changeset,
                        client: @client,
                        action: client_path(@conn, :update, @client) %>

<%= link "Voltar", class: "btn btn-default", to: client_path(@conn, :index) %>
