<h2>Novo Cliente</h2>

<%= render "form.html", changeset: @changeset,
                        action: client_path(@conn, :create) %>

<%= link "Voltar", class: "btn btn-default", to: client_path(@conn, :index) %>
